@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Pretendard', 'Malgun Gothic', sans-serif;
    background-color: #f9f9f9;
    color: #111;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

* {
    border-color: #000 !important;
}
